/* snotestyle.css */

/* snotestyle.css */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #e4f2ff;
}

.menu {
  display: flex;
  background-color: #e4f2ff;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #beedff;
  overflow-x: hidden;
}

.logo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.areadetrabalho:hover {
  flex-grow: 1;
  padding: 20px;
  position: static;
  transition: transform 1.1;
  
}

#word1 {
  display: block;
  text-decoration: none;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.word-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.word-container h1 {
  margin-bottom: 10px;
}
.contato {
  position: absolute;
  bottom: 0px;
  font-size: medium;
  text-align:start;
}