/* estilos para dispositivos de largura menor que 768px (celular) */
@media only screen and (max-width: 767px) {
    #toolbar {
        width: auto;
        flex-direction: column;
        padding: 10px; 
    }
    .toolbar-button {
        margin-bottom: 10px; 
    }
    #editor {
        position: static; 
        width: 100%; 
        min-height: 300px; 
        padding: 10px;
        margin: 0; 
    }
}

/* estilos para dispositivos de largura entre 768px e 1023px (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #toolbar {
        padding: 15px; 
    }
    .toolbar-button {
        margin-bottom: 15px; 
    }
    #editor {
        width: 90%; 
        min-height: 500px; 
    }
}

/* estilos para dispositivos de largura maior ou igual a 1024px (desktop) */
@media only screen and (min-width: 1024px) {
    #toolbar {
        width: auto;
        padding: 20px; 
    }
    .toolbar-button {
        margin-bottom: 20px; 
    }
    #editor {
        width:auto; 
        min-height: 700px; 
    }
}



body {
    background-color: #e4f2ff;
    margin: 0;
    padding: 0;
}

#toolbar {
    margin-bottom: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d2f2ff;
    border: 1px solid #c8eaf8;
    border-radius: 4px;
}

.toolbar-button {
    border: none;
    cursor: pointer;
    background-color: #c8eaf8;
    border-radius: 4px;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.toolbar-button:hover {
    background-color: #b3d9f2;
}

#editor {
    background-color: rgb(199, 230, 243);
    border: 6px solid;
    border-color: #b3d9f2;
    border-radius: 4px;
    padding: 10px;
    background-clip: padding-box; 
    white-space: pre-wrap; 
}

#color-picker {
    width: 40px;
    height: 30px;
    border: 1px solid;
    border-color: rgb(196, 241, 255);
    border-radius: 4px;
    margin-right: 5px;
}
