#toolbar {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    border-bottom: 1px solid #b3b3b3;
    padding: 5px;
}

.toolbar-button {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.toolbar-button:hover {
    background-color: #ddd;
}

#editor {
    border: 1px solid #b3b3b3;
    position: absolute;
    left: 10%;
    bottom: 7%;
    width: 80%;
    min-height: 800px;
    padding: 5px;

}
#color-picker {
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
}